dash>=2.17
dash-bootstrap-components>=1.6
dash-deck>=0.0.1
pandas>=2.2
numpy>=1.26
shapely>=2.0
requests>=2.32
h3>=3.7
geopy>=2.4
pyproj>=3.6
tqdm>=4.66
joblib>=1.4
PyYAML>=6.0
lightgbm>=4.3
scikit-learn>=1.5
statsmodels>=0.14
plotly>=5.24
python-dotenv>=1.0
firebase-functions>=0.1.0
firebase-admin>=6.5.0