.venv/
__pycache__/
*.pyc
.env
.env.sample
.data/
.DS_Store
models/artifacts/
models/reports/
functions/models/models/artifacts/
data/raw/
data/interim/
data/processed/
data/dcp_housingdb.zip
Ramnarain-Rohan-DAV-digital-project-grant.docx
Ramnarain-Rohan-DAV-digital-project-grant.pdf
submissions/
